language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - 2.1.1
  - ree
  - ruby-head
  - rbx-18mode
  - rbx-19mode
before_install: gem install bundler --no-document
matrix:
  allow_failures:
    - rvm: rbx
    - rvm: rbx-18mode
    - rvm: rbx-19mode
