language: ruby
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1
  - 2.2
  - 2.3
  - 2.4.1
  - rbx-2
  - ree
  - ruby-head
before_install: gem install bundler --no-document
matrix:
  allow_failures:
    - rvm: rbx-2
